In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
v8_asah = pd.read_csv('/content/drive/MyDrive/12_12_24_datarevisiting/2025 aSAH/v8 aSAH ASM 2025 - v8 aSAH ASM 2025.csv')

In [ ]:
v8_asah

,subject_id,Extractor,Group,ICD9_CODE,age_at_admission,GENDER,DOB,DOD,expire_flag,DISCHARGE_LOCATION,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,132,HA,Control,430,56,F,2/20/1959,NaN,0,REHAB/DISTINCT PART HOSP,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,198,HA,Control,430,72,F,11/27/2009,NaN,0,HOME HEALTH CARE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,274,HA,Control,430,66,M,5/18/1948,2022-09-07,1,REHAB/DISTINCT PART HOSP,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,340,HA,Control,430,61,F,7/11/2021,NaN,0,SNF,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,416,HA,Control,430,56,F,12/12/1976,1936-11-11,1,HOME HEALTH CARE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,19751955,AK,Experimental,430,56,F,n.d.,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
547,19751955,AK,Experimental,430,56,F,n.d.,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
548,19786458,AK,Experimental,430,32,M,NaN,NaN,0,HOME,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549,19824118,AK,Experimental,430,51,F,NaN,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
550,19892374,AK,Experimental,430,52,F,n.d.,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
v8_asah[['DISCHARGE_LOCATION','ADMITTIME','DISCHTIME','Month diff.','Year diff.']]

,DISCHARGE_LOCATION,ADMITTIME,DISCHTIME,Month diff.,Year diff.
0,REHAB/DISTINCT PART HOSP,5/6/2015,2015-05-25,NaN,NaN
1,HOME HEALTH CARE,10/5/1981,1981-10-24,NaN,NaN
2,REHAB/DISTINCT PART HOSP,6/28/2014,2014-07-12,98.0,8.166667
3,SNF,1/19/1982,1982-02-11,NaN,NaN
4,HOME HEALTH CARE,7/23/1932,1932-08-11,51.0,4.250000
...,...,...,...,...,...
546,DIED,2113-01-08,NaN,NaN,NaN
547,DIED,2113-01-08 9:40:00,NaN,NaN,NaN
548,HOME,2124-08-29 0:58:00,NaN,NaN,NaN
549,HOME,2187-09-14 12:35:00,NaN,NaN,NaN
550,HOME,2184-05-18 18:41:00,NaN,NaN,NaN

In [ ]:
ak_df = v8_asah[v8_asah["Extractor"] == "AK"]

In [ ]:
hadm_ids = ak_df["hadm_id"].tolist()

In [ ]:
hadm_ids

[20994976,
 24171172,
 20668478,
 24825843,
 29561541,
 23628059,
 23628059,
 29792275,
 24076064,
 24076064,
 25021954,
 29099084,
 27624139,
 21843080,
 29883472,
 29883472,
 29883472,
 27220278,
 27833976,
 25497714,
 29386102,
 25385589,
 25385589,
 26397173,
 23965139,
 21222658,
 27959999,
 24333928,
 20878630,
 21865572,
 28348533,
 23407263,
 22988157,
 28709764,
 29350026,
 21083287,
 24788420,
 22344130,
 22344130,
 21946612,
 21259204,
 22568197,
 20087917,
 22155026,
 22970726,
 20925395,
 25327632,
 26203335,
 22552604,
 26514975,
 26514975,
 23865349,
 20331070,
 21261973,
 28539372,
 26970650,
 20535924,
 27718225,
 20586822,
 24160720,
 25786165,
 25728649,
 28888041,
 24858789,
 20617824,
 20369499,
 20826144,
 26287219,
 20538179,
 24262218,
 20514502,
 23415284,
 27445724,
 28182843,
 21944638,
 26361650,
 23109695,
 26578861,
 23005471,
 29101127,
 27202077,
 26167784,
 24106067,
 24762560,
 29751691,
 21242637,
 24628414,
 24628414,
 27032598,
 27008530,
 25594427,
 20410940,
 20410940,
 22152100,
 21758834,
 21164046,
 21164046,
 24099791,
 21076962,
 26136923,
 21899375,
 29104539,
 29056733,
 29056733,
 23172421,
 29366806,
 26166477,
 22819024,
 26569691,
 28672136,
 23626983,
 26272803,
 21297933,
 23882372,
 22557609,
 22285239,
 26543187,
 24460719,
 26112529,
 25653760,
 25653760,
 23191164,
 28668385,
 20323878,
 21817201,
 29147891,
 29859063,
 21905378,
 28009137,
 26853647,
 22209419,
 20393299,
 28377288,
 29814494,
 29999098,
 24357743,
 22905331,
 20528432,
 20528432,
 25479875,
 21042724,
 21359984,
 26110211,
 23605540,
 29205438,
 21540008,
 28583591,
 24822375,
 24056393,
 23953205,
 22833374,
 22833374,
 25123049,
 20645052,
 27818528,
 26901851,
 28224471,
 23459333,
 26807534,
 21900706,
 28969477,
 28969477,
 26097841,
 23922388,
 20916211,
 20454348,
 29687644,
 24688341,
 25640683,
 21878501,
 24110114,
 24289273,
 29145346,
 28923415,
 25432002,
 29364799,
 29364799,
 28338971,
 22186477,
 22186477,
 22073462,
 28197024,
 29175477,
 21970111,
 28663708,
 20089438,
 29912562,
 29305393,
 23752693,
 25439134,
 26324815,
 21782468,
 27489114,
 20196181,
 26213899,
 28222918,
 20212875,
 29349222,
 25347391,
 21212718,
 20720471,
 24014957,
 26739664,
 27859317,
 27859317,
 24647096,
 24647096,
 29036832,
 20980030,
 25376617,
 27981677,
 23435526,
 23435526,
 23685168,
 25933496,
 29141816,
 27962848,
 27962848,
 22559295,
 22309443,
 22309443,
 28291559,
 29977639,
 29394605,
 25247883,
 23948992,
 23948992,
 22161815,
 28825973,
 28825973,
 28719273,
 28390777,
 24397505,
 25813458,
 23963429,
 21600750,
 21600750,
 20401746,
 27413894,
 27413894,
 20495450,
 20495450,
 20497882,
 20932748,
 28523426,
 27976555,
 29756635,
 29756635,
 29589619,
 21201652,
 24603487,
 20005119,
 20005119,
 23778245,
 22354012,
 22889787,
 27806916,
 26061152,
 24248353,
 21289599,
 24439430,
 29988405,
 27056080,
 27056080,
 26913220,
 22164573,
 24222506]

In [ ]:
deathttime_0331 = pd.read_csv('/content/drive/MyDrive/12_12_24_datarevisiting/2025 aSAH/0331_deathtime.csv')

In [ ]:
deathttime_0331

      hadm_id            deathtime  hospital_expire_flag
0    29147891                  NaN                     0
1    21042724                  NaN                     0
2    26097841                  NaN                     0
3    29589619                  NaN                     0
4    22285239                  NaN                     0
..        ...                  ...                   ...
232  20528432  2156-09-19 02:21:00                     1
233  25640683  2164-10-17 19:10:00                     1
234  22559295                  NaN                     0
235  29394605                  NaN                     0
236  27056080  2113-01-09 14:35:00                     1

[237 rows x 3 columns]

In [ ]:
ak_df

,subject_id,Extractor,Group,ICD9_CODE,age_at_admission,GENDER,DOB,DOD,expire_flag,DISCHARGE_LOCATION,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
284,10110948,AK,Experimental,430,50,F,NaN,NaN,0,REHAB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285,10144089,AK,Experimental,430,64,F,NaN,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,10151137,AK,Experimental,430,57,F,NaN,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
287,10152086,AK,Experimental,430,55,M,n.d.,NaN,0,HOME,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
288,10222587,AK,Experimental,430,55,F,NaN,NaN,1,DIED,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,19751955,AK,Experimental,430,56,F,n.d.,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
547,19751955,AK,Experimental,430,56,F,n.d.,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
548,19786458,AK,Experimental,430,32,M,NaN,NaN,0,HOME,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
549,19824118,AK,Experimental,430,51,F,NaN,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
550,19892374,AK,Experimental,430,52,F,n.d.,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Step 1: Find duplicated icustay_ids
duplicated = ak_df[ak_df.duplicated(subset="icustay_id", keep=False)]

# Step 2: Sort/group them by icustay_id for easier review
duplicate_ids_sorted = duplicate_ids.sort_values(by="icustay_id")

# View it
duplicate_ids_sorted[['icustay_id','ADMITTIME', 'ASM_type', 'Vasospasm (yes/no)', 'location specific', 'los_icu', 'Rebleeding (yes/no)', 'hypertension', 'solid_tumor']]

,icustay_id,ADMITTIME,ASM_type,Vasospasm (yes/no),location specific,los_icu,Rebleeding (yes/no),hypertension,solid_tumor
422,30177126,2156-09-17 9:25:00,"Phenytoin Sodium, Phenytoin Sodium (IV)",0.0,L ACOM,2.00,0,0,0
421,30177126,2156-09-17 9:25:00,"Phenytoin Sodium (IV), Phenytoin Sodium",0.0,anterior communicating artery,2.00,0,0,0
305,30325487,2126-09-26,"LeVETiracetam, LeVETiracetam, LeVETiracetam, L...",1.0,ACOM,7.00,0,1,0
306,30325487,2126-09-26 0:37:00,LeVETiracetam,1.0,ACOM,7.50,0,1,0
370,30337887,2121-08-29 18:40:00,LeVETiracetam,0.0,basilar artery,6.88,0,0,0
371,30337887,2121-08-29 18:40:00,LeVETiracetam,0.0,basilar tip,7.00,0,1,0
546,31090602,2113-01-08,"LeVETiracetam, LeVETiracetam",1.0,ACOM,2.00,1,0,0
547,31090602,2113-01-08 9:40:00,LeVETiracetam,0.0,ACOM,2.08,1,0,0
322,31140972,2180-03-24 20:43:00,"LeVETiracetam, Lorazepam",0.0,PCOM,7.00,0,0,0
321,31140972,2180-03-24 20:43:00,"LeVETiracetam, LeVETiracetam",0.0,P COM,7.00,0,1,0
513,32427650,2116-12-29 23:57:00,"LeVETiracetam, Lorazepam, LeVETiracetam Oral S...",1.0,anterior communicating artery,1.00,0,0,0
512,32427650,2116-12-29 23:57:00,"LeVETiracetam, LeVETiracetam Oral Solution, Le...",1.0,ACOM,1.00,0,0,0
445,32494951,2131-12-17,"LeVETiracetam, LeVETiracetam, LeVETiracetam",1.0,R MCA,10.00,1,1,0
444,32494951,2131-12-17 20:03:00,LeVETiracetam,0.0,middle cerebral artery,10.00,1,1,0
489,33023514,2117-12-19 17:58:00,"LeVETiracetam Oral Solution, LeVETiracetam",0.0,basilar artery,12.92,0,1,0
490,33023514,2117-12-19 17:58:00,"LeVETiracetam, LeVETiracetam Oral Solution",0.0,basilar artery,13.00,0,1,0
510,33335366,2168-10-04 19:54:00,LeVETiracetam,0.0,L ACOM,1.00,0,1,0
509,33335366,2168-10-04 19:54:00,"LeVETiracetam, Lorazepam",0.0,internal carotid artery,0.71,0,1,0
435,33966096,2148-05-07 13:57:00,"Lorazepam, LeVETiracetam",0.0,anterior cerebral artery,14.92,0,0,0
434,33966096,2148-05-07,LeVETiracetam,0.0,ACA,15.00,0,0,0
533,34349404,2134-02-16 8:12:00,LeVETiracetam,1.0,R MCA,3.00,0,1,0
534,34349404,2133-12-28 6:27:00,LeVETiracetam,0.0,right MCA bifurcation,6.00,0,1,1
487,34531454,2133-09-18 1:36:00,"Phenytoin Sodium, Phenytoin Sodium (IV), Loraz...",1.0,M cerebral artery,38.63,0,1,0
488,34531454,2133-09-18 1:36:00,"Phenytoin Sodium, Phenytoin Sodium, Phenytoin ...",1.0,R MCA,39.00,0,1,0
333,34920667,2179-08-17 22:35:00,"Phenytoin Sodium, Lorazepam, Phenytoin Sodium ...",1.0,anterior cerebral artery,2.75,0,0,0
334,34920667,2179-08-17 22:35:00,"Phenytoin Sodium, Phenytoin Sodium, Phenytoin ...",1.0,ICA/MCA,3.00,0,0,0
530,34950939,2183-08-09 2:18:00,"Phenytoin Sodium Extended, Phenytoin Sodium",0.0,ACOM,7.00,0,1,0
531,34950939,2183-08-09 2:18:00,"Phenytoin Sodium, Phenytoin Sodium Extended",0.0,R PCOM,7.46,0,1,0
290,34955319,2155-06-25 12:31:00,"Lorazepam, LeVETiracetam",0.0,L ACOM,2.13,1,0,0
289,34955319,2155-06-25,LeVETiracetam,0.0,ACOM,2.00,0,0,0
501,35214334,2133-10-21 0:11:00,"LeVETiracetam, LeVETiracetam",1.0,Anterior Choroidal,11.00,0,1,0
500,35214334,2133-10-21 0:11:00,LeVETiracetam,0.0,anterior chorodal artery,10.58,0,1,0
520,35238749,2181-10-23,"LeVETiracetam, LeVETiracetam, LeVETiracetam, L...",0.0,PComm,7.00,0,0,0
519,35238749,2181-10-23 22:39:00,LeVETiracetam,0.0,L PCOMm,6.67,0,0,0
463,35909697,2150-12-08,"Phenytoin Sodium, Phenytoin Sodium (IV), LeVET...",0.0,Basilar tip,13.00,0,0,0
462,35909697,2150-12-08 12:23:00,"Phenytoin Sodium (IV), LeVETiracetam, Phenytoi...",0.0,basilar artery,13.50,0,0,0
387,35941795,2189-05-13 18:49:00,LeVETiracetam,0.0,ACOM,13.83,0,0,0
386,35941795,2189-05-13,"LeVETiracetam, LeVETiracetam",0.0,ACOM,14.00,0,1,0
535,36288584,2112-11-08 20:25:00,"Phenytoin Sodium, PHENObarbital, Lorazepam, Le...",1.0,anterior cerebral artery,29.75,0,0,0
536,36288584,2112-11-08,"Phenytoin Sodium, Phenytoin Sodium (IV), Pheny...",1.0,L pericallosal,30.00,1,1,1
375,36329590,2146-12-04 14:50:00,"LeVETiracetam, Lorazepam, Fosphenytoin, Phenyt...",0.0,left frontal sulci,33.00,0,1,0
376,36329590,2146-12-04,"Fosphenytoin, LeVETiracetam, LeVETiracetam, Le...",1.0,not identified,33.00,0,1,0
379,36609398,2122-12-25 15:16:00,"Lorazepam, LeVETiracetam",0.0,middle cerebral artery,1.00,0,0,0
380,36609398,2122-12-25,"LeVETiracetam, LeVETiracetam",0.0,R MCA,1.00,0,0,0
404,37295669,2149-02-10,"LeVETiracetam, LeVETiracetam",1.0,L pericallosal,9.00,0,0,0
403,37295669,2149-02-10 23:35:00,"LeVETiracetam, Lorazepam",0.0,callosum,8.79,0,0,0
459,37694540,2150-11-02,NaN,0.0,ACOM,1.00,0,1,0
460,37694540,2150-11-02 18:20:00,Lorazepam,0.0,anterior cerebral artery,0.54,0,0,0
298,37801497,2132-05-04,"LeVETiracetam, LeVETiracetam, LeVETiracetam, L...",1.0,PCOM,0.00,0,1,0
299,37801497,2132-05-04 10:23:00,LeVETiracetam,0.0,posterior communicating artery,0.17,0,1,0
522,37996618,2116-01-10 12:00:00,LeVETiracetam,1.0,R internal carotid artery,9.67,0,0,0
523,37996618,2116-01-10 12:00:00,"LeVETiracetam, LeVETiracetam",0.0,right ICA,10.00,0,0,0
292,38172427,2188-11-07,"LeVETiracetam, LeVETiracetam, LeVETiracetam",1.0,ACOM,12.00,0,1,0
293,38172427,2188-11-07 22:31:00,LeVETiracetam,0.0,ACOM,11.79,0,0,0
496,38708247,2114-11-03 18:17:00,"Fosphenytoin, LeVETiracetam, Phenytoin Sodium,...",1.0,R anterior cerebral artery,26.17,0,0,0
495,38708247,2114-11-03,"Phenytoin Infatab, LeVETiracetam, Phenytoin In...",0.0,ACOM,26.00,0,1,0
504,39768112,2141-09-28 23:47:00,"Lorazepam, LeVETiracetam Oral Solution",0.0,anterior communicating artery,7.67,0,0,0
503,39768112,2141-09-28,"LeVETiracetam Oral Solution, LeVETiracetam Ora...",0.0,ACOM,8.00,0,1,0
524,39808193,2118-06-29 12:31:00,"LeVETiracetam, LeVETiracetam Oral Solution, Le...",1.0,basilar apex,27.00,0,1,0
525,39808193,2118-06-29 12:31:00,"Lorazepam, LeVETiracetam, LeVETiracetam Oral S...",1.0,basilar artery,27.21,0,0,0

In [ ]:
rows_to_remove = [421, 305, 371, 547, 321, 513, 445, 489, 509, 435,
                  533, 487, 333, 531, 290, 501, 519, 462, 387, 536,
                  375, 379, 403, 460, 299, 522, 292, 496, 503, 525]

ak_df_cleaned = ak_df.drop(index=rows_to_remove).reset_index(drop=True)

In [ ]:
ak_df_cleaned

,subject_id,Extractor,Group,ICD9_CODE,age_at_admission,GENDER,DOB,DOD,expire_flag,DISCHARGE_LOCATION,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,10110948,AK,Experimental,430,50,F,NaN,NaN,0,REHAB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10144089,AK,Experimental,430,64,F,NaN,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10151137,AK,Experimental,430,57,F,NaN,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10152086,AK,Experimental,430,55,M,n.d.,NaN,0,HOME,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10222587,AK,Experimental,430,55,F,NaN,NaN,1,DIED,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,19731864,AK,Experimental,430,80,F,NaN,NaN,0,SKILLED NURSING FACILITY,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,19751955,AK,Experimental,430,56,F,n.d.,NaN,1,DIED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234,19786458,AK,Experimental,430,32,M,NaN,NaN,0,HOME,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
235,19824118,AK,Experimental,430,51,F,NaN,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236,19892374,AK,Experimental,430,52,F,n.d.,NaN,0,HOME,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
deathttime_0331.head()

    hadm_id deathtime  hospital_expire_flag
0  29147891       NaN                     0
1  21042724       NaN                     0
2  26097841       NaN                     0
3  29589619       NaN                     0
4  22285239       NaN                     0

In [ ]:
# Make sure column renaming is already done on deathtime_0331
deathttime_0331 = deathttime_0331.rename(columns={
    "deathtime": "deathtime_1",
    "hospital_expire_flag": "expire_flag_1"
})

# Merge only on matching hadm_id values
merged_df = ak_df_cleaned.merge(deathttime_0331, on="hadm_id", how="inner")

In [ ]:
# Step 1: Drop the original expire_flag and DOD columns
merged_df = merged_df.drop(columns=["expire_flag", "DOD"])

# Step 2: Rename the new columns
merged_df = merged_df.rename(columns={
    "expire_flag_1": "expire_flag",
    "deathtime_1": "DOD"
})

merged_df.head()

,subject_id,Extractor,Group,ICD9_CODE,age_at_admission,GENDER,DOB,DISCHARGE_LOCATION,ADMITTIME,DISCHTIME,...,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression,DOD,expire_flag
0,10110948,AK,Experimental,430,50,F,NaN,REHAB,2179-11-26 1:53:00,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
1,10144089,AK,Experimental,430,64,F,NaN,DIED,2182-07-28 3:52:00,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2182-07-30 00:00:00,1
2,10151137,AK,Experimental,430,57,F,NaN,HOME,2119-08-05 17:23:00,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0
3,10152086,AK,Experimental,430,55,M,n.d.,HOME,2159-06-12,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
4,10222587,AK,Experimental,430,55,F,NaN,DIED,2123-09-26 5:58:00,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2123-10-08 14:52:00,1

In [ ]:
pd.set_option('display.max_rows', 237)

# Now display the subset
merged_df[['DOD', 'ADMITTIME']]

                     DOD            ADMITTIME
0                    NaN   2179-11-26 1:53:00
1    2182-07-30 00:00:00   2182-07-28 3:52:00
2                    NaN  2119-08-05 17:23:00
3                    NaN           2159-06-12
4    2123-10-08 14:52:00   2123-09-26 5:58:00
5    2155-06-27 13:14:00           2155-06-25
6                    NaN           2119-08-31
7                    NaN  2188-11-07 22:31:00
8                    NaN  2147-11-21 22:43:00
9                    NaN           2168-12-26
10                   NaN  2131-05-17 12:57:00
11                   NaN   2151-04-05 2:04:00
12                   NaN           2132-05-04
13                   NaN  2132-05-04 10:23:00
14                   NaN   2177-11-01 5:05:00
15                   NaN   2119-08-30 4:40:00
16                   NaN  2141-02-18 16:12:00
17                   NaN  2131-11-04 21:29:00
18                   NaN   2126-09-26 0:37:00
19                   NaN  2144-07-20 21:43:00
20                   NaN           2118-06-26
21                   NaN  2153-01-06 21:26:00
22                   NaN  2116-06-18 18:30:00
23                   NaN   2134-05-02 5:52:00
24                   NaN   2131-05-19 0:57:00
25                   NaN           2183-01-29
26                   NaN  2151-02-21 23:30:00
27                   NaN  2174-10-25 22:36:00
28                   NaN   2136-06-17 0:37:00
29                   NaN  2117-04-02 17:19:00
30                   NaN  2156-06-03 18:27:00
31                   NaN  2157-06-16 17:48:00
32                   NaN  2158-09-01 16:27:00
33                   NaN  2180-03-24 20:43:00
34                   NaN  2168-08-06 18:35:00
35                   NaN  2130-07-30 12:54:00
36                   NaN  2131-03-25 23:46:00
37                   NaN  2156-05-27 22:54:00
38                   NaN   2195-04-11 6:46:00
39                   NaN  2157-10-21 19:44:00
40                   NaN  2140-01-07 17:09:00
41                   NaN           2131-10-17
42                   NaN  2153-01-07 21:21:00
43                   NaN   2180-01-02 8:14:00
44                   NaN  2179-08-17 22:35:00
45                   NaN   2129-12-28 7:15:00
46   2117-01-20 18:09:00           2117-01-19
47                   NaN  2144-06-20 18:36:00
48                   NaN   2171-11-25 0:07:00
49                   NaN  2187-08-22 19:49:00
50   2129-07-11 04:20:00           2129-07-10
51                   NaN  2158-08-01 13:00:00
52                   NaN   2163-05-17 3:18:00
53                   NaN   2112-04-05 5:29:00
54                   NaN  2136-05-05 13:55:00
55                   NaN   2119-03-22 1:54:00
56                   NaN   2129-07-05 4:00:00
57                   NaN  2156-04-08 21:19:00
58   2135-09-11 20:49:00  2135-09-11 14:21:00
59   2167-04-05 18:40:00  2167-04-02 19:08:00
60                   NaN  2153-12-27 13:33:00
61                   NaN  2153-01-18 21:23:00
62                   NaN  2121-02-15 14:05:00
63   2136-04-23 10:06:00  2136-04-21 18:05:00
64                   NaN  2135-03-07 22:06:00
65                   NaN  2126-06-22 21:52:00
66                   NaN  2154-10-03 17:54:00
67                   NaN   2145-12-29 0:43:00
68   2188-08-24 13:35:00  2188-08-20 17:08:00
69                   NaN  2185-10-31 23:53:00
70                   NaN  2174-09-07 16:46:00
71                   NaN  2154-04-10 21:53:00
72                   NaN   2110-08-11 2:40:00
73                   NaN   2181-11-01 4:46:00
74                   NaN   2155-07-04 6:06:00
75   2134-12-18 03:52:00  2134-12-17 14:37:00
76                   NaN  2116-07-03 16:07:00
77                   NaN  2156-11-12 21:33:00
78                   NaN           2185-05-31
79                   NaN  2140-09-04 21:27:00
80                   NaN  2121-08-29 18:40:00
81                   NaN  2152-12-26 15:23:00
82                   NaN   2177-03-20 1:31:00
83   2164-02-17 02:50:00  2164-02-02 16:03:00
84                   NaN           2146-12-04
85                   NaN   2158-11-24 1:13:00
86                   NaN   2161-06-10 9:47:00
87   2122-12-26 14:30:00           2122-12-25
88                   NaN  2161-09-23 13:52:00
89                   NaN  2165-01-27 15:46:00
90                   NaN  2154-05-11 21:54:00
91                   NaN   2178-10-01 3:54:00
92                   NaN           2172-11-06
93                   NaN           2189-05-13
94                   NaN           2130-06-06
95   2128-01-22 22:58:00           2128-01-18
96                   NaN  2129-04-24 11:00:00
97                   NaN  2124-06-23 13:36:00
98                   NaN  2125-04-24 21:33:00
99   2165-05-16 19:03:00   2165-04-23 3:44:00
100                  NaN   2123-07-08 1:20:00
101                  NaN           2117-12-11
102                  NaN  2151-02-02 21:15:00
103                  NaN  2152-04-01 13:42:00
104                  NaN   2115-09-01 1:34:00
105                  NaN   2111-03-05 2:55:00
106                  NaN  2140-06-26 16:28:00
107                  NaN  2167-01-08 13:10:00
108                  NaN  2162-08-10 12:28:00
109                  NaN           2149-02-10
110                  NaN  2115-04-01 15:09:00
111                  NaN  2143-10-16 20:51:00
112                  NaN  2115-02-24 18:40:00
113                  NaN  2154-02-01 15:29:00
114                  NaN  2181-07-10 21:06:00
115                  NaN           2138-12-01
116                  NaN  2124-12-10 20:15:00
117                  NaN  2152-04-19 12:54:00
118                  NaN   2180-03-19 9:47:00
119  2155-10-03 06:18:00  2155-10-02 13:15:00
120                  NaN   2178-01-27 3:32:00
121                  NaN  2153-06-25 12:51:00
122  2154-07-03 21:42:00  2154-06-28 11:03:00
123  2128-06-20 11:25:00  2128-06-09 23:45:00
124  2138-09-26 18:11:00  2138-09-19 19:02:00
125                  NaN  2115-09-26 19:09:00
126  2156-09-19 02:21:00   2156-09-17 9:25:00
127                  NaN   2124-07-11 2:51:00
128                  NaN  2176-06-20 13:46:00
129  2152-12-21 23:05:00  2152-12-15 19:38:00
130                  NaN  2162-10-04 14:09:00
131                  NaN  2135-05-16 15:14:00
132                  NaN  2159-03-24 18:49:00
133  2171-06-09 22:50:00   2171-05-22 3:49:00
134                  NaN  2200-01-24 16:34:00
135  2185-05-14 20:13:00  2185-05-06 11:08:00
136                  NaN  2143-05-09 22:03:00
137                  NaN  2157-06-03 11:28:00
138  2148-05-22 21:38:00           2148-05-07
139                  NaN  2189-06-18 16:27:00
140                  NaN  2126-09-21 15:28:00
141                  NaN   2124-03-29 1:17:00
142  2127-05-08 20:00:00   2127-04-14 0:25:00
143                  NaN   2187-10-30 3:19:00
144                  NaN  2161-05-29 22:54:00
145                  NaN  2181-08-05 18:43:00
146                  NaN  2174-07-24 18:50:00
147  2131-12-27 19:57:00  2131-12-17 20:03:00
148                  NaN  2144-03-10 18:11:00
149                  NaN   2125-01-14 7:02:00
150                  NaN  2162-11-29 23:25:00
151                  NaN  2135-09-18 21:58:00
152                  NaN   2144-11-28 2:55:00
153                  NaN  2189-01-19 19:37:00
154  2164-10-17 19:10:00  2164-10-17 15:08:00
155  2119-04-07 16:47:00  2119-03-25 17:12:00
156                  NaN  2182-08-01 23:17:00
157                  NaN   2129-06-12 0:40:00
158                  NaN   2123-11-15 6:29:00
159  2150-02-28 16:35:00  2150-01-25 18:36:00
160                  NaN  2179-04-14 18:35:00
161  2150-11-03 01:10:00           2150-11-02
162                  NaN   2152-04-07 9:00:00
163                  NaN           2150-12-08
164  2172-06-23 19:15:00   2172-06-22 1:01:00
165                  NaN  2167-07-03 21:09:00
166                  NaN   2145-11-05 0:53:00
167                  NaN  2126-01-03 19:04:00
168                  NaN  2159-05-08 16:04:00
169                  NaN  2179-12-23 16:15:00
170                  NaN  2181-07-19 13:06:00
171                  NaN  2138-02-01 11:00:00
172                  NaN   2154-09-12 4:16:00
173                  NaN   2128-03-25 9:43:00
174  2177-12-31 08:00:00   2177-12-09 0:37:00
175                  NaN  2168-11-21 20:31:00
176                  NaN  2142-04-24 20:26:00
177                  NaN   2159-09-01 2:32:00
178                  NaN   2176-04-17 2:54:00
179                  NaN  2185-07-11 16:51:00
180                  NaN   2141-09-01 7:15:00
181                  NaN  2133-03-02 12:53:00
182                  NaN   2160-03-07 2:15:00
183                  NaN  2192-01-11 18:42:00
184                  NaN           2165-10-10
185                  NaN  2131-11-17 23:59:00
186                  NaN   2176-09-20 1:11:00
187                  NaN   2133-09-18 1:36:00
188                  NaN  2117-12-19 17:58:00
189                  NaN  2157-11-03 17:16:00
190                  NaN  2146-03-17 23:13:00
191                  NaN   2166-01-26 4:54:00
192                  NaN  2114-09-17 18:39:00
193                  NaN           2114-11-03
194                  NaN  2157-07-25 20:15:00
195                  NaN   2179-08-22 2:02:00
196                  NaN  2187-12-01 18:48:00
197                  NaN   2133-10-21 0:11:00
198                  NaN           2167-09-17
199  2141-10-06 14:00:00  2141-09-28 23:47:00
200                  NaN  2138-05-11 20:04:00
201                  NaN   2189-11-06 6:10:00
202                  NaN  2130-08-29 21:09:00
203                  NaN  2111-04-05 21:28:00
204  2168-10-09 21:02:00  2168-10-04 19:54:00
205  2175-07-13 14:30:00  2175-07-04 18:02:00
206                  NaN  2116-12-29 23:57:00
207                  NaN  2137-10-09 20:16:00
208                  NaN  2158-01-19 12:26:00
209                  NaN           2167-10-15
210                  NaN  2128-08-13 19:59:00
211                  NaN   2174-10-10 0:26:00
212                  NaN           2181-10-23
213                  NaN  2135-04-14 14:04:00
214  2116-01-18 09:00:00  2116-01-10 12:00:00
215                  NaN  2118-06-29 12:31:00
216  2139-09-27 16:25:00  2139-09-24 19:36:00
217                  NaN  2131-04-11 20:25:00
218                  NaN           2148-07-04
219                  NaN  2147-11-11 22:30:00
220                  NaN   2183-08-09 2:18:00
221                  NaN  2184-08-28 18:38:00
222                  NaN   2133-12-28 6:27:00
223                  NaN  2112-11-08 20:25:00
224                  NaN  2110-09-05 21:31:00
225  2137-06-10 12:06:00  2137-06-05 11:00:00
226                  NaN  2110-12-11 15:11:00
227                  NaN  2149-11-10 21:14:00
228                  NaN  2160-11-20 17:33:00
229  2182-06-26 07:15:00  2182-06-07 16:26:00
230                  NaN           2143-02-12
231                  NaN  2119-12-19 21:24:00
232                  NaN  2172-03-04 12:19:00
233  2113-01-09 14:35:00           2113-01-08
234                  NaN   2124-08-29 0:58:00
235                  NaN  2187-09-14 12:35:00
236                  NaN  2184-05-18 18:41:00

In [ ]:
merged_df["DOD_str"] = merged_df["DOD"].fillna("").astype(str)

In [ ]:
year_diffs = []
month_diffs = []

for idx, row in merged_df.iterrows():
    dod = row["DOD"]
    admit = row["ADMITTIME"]

    if pd.notna(dod):
        dod_str = str(dod)
        admit_str = str(admit)

        # Extract year and month
        dod_year = int(dod_str[:4])
        dod_month = int(dod_str[5:7])
        admit_year = int(admit_str[:4])
        admit_month = int(admit_str[5:7])

        # Calculate diffs
        year_diff = dod_year - admit_year
        month_diff = dod_month - admit_month

        year_diffs.append(year_diff)
        month_diffs.append(month_diff)
    else:
        year_diffs.append(np.nan)
        month_diffs.append(np.nan)

In [ ]:
merged_df["year_diff"] = year_diffs
merged_df["month_diff"] = month_diffs

In [ ]:
ak_cleaned = merged_df

In [ ]:
ak_cleaned.columns

Index(['subject_id', 'Extractor', 'Group', 'ICD9_CODE', 'age_at_admission',
       'GENDER', 'DOB', 'DISCHARGE_LOCATION', 'ADMITTIME', 'DISCHTIME',
       'Month diff.', 'Year diff.', 'ASM', 'ASM_start', 'ASM_end', 'ASM_type',
       'hadm_id', 'HH from file', 'HH calculated', 'mFG from file',
       'mFG  calculated', 'Modified WFNS', 'Clip', 'Coil', 'mingcs',
       'endotrachflag', 'Location (A=0/P=1)', 'Is_PComm', 'location specific',
       'ethnicity', 'icustay_id', 'cmo', 'los_hospital', 'first_hosp_stay',
       'los_icu', 'first_icu_stay', 'vasonum', 'RRT', 'MechVent',
       'Rebleeding (yes/no)', 'Seizure', 'Seizure date (hospital day)',
       'Vasospasm (yes/no)', 'congestive_heart_failure', 'cardiac_arrhythmias',
       'valvular_disease', 'pulmonary_circulation', 'peripheral_vascular',
       'hypertension', 'paralysis', 'other_neurological', 'chronic_pulmonary',
       'diabetes_uncomplicated', 'diabetes_complicated', 'hypothyroidism',
       'renal_failure', 'liver_disease', 'peptic_ulcer', 'aids', 'lymphoma',
       'metastatic_cancer', 'solid_tumor', 'rheumatoid_arthritis',
       'coagulopathy', 'obesity', 'weight_loss', 'fluid_electrolyte',
       'blood_loss_anemia', 'deficiency_anemias', 'alcohol_abuse',
       'drug_abuse', 'psychoses', 'depression', 'DOD', 'expire_flag',
       'DOD_str', 'ADMITTIME_str', 'year_diff', 'month_diff',
       'month_diff_match', 'year_diff_match'],
      dtype='object')

In [ ]:
ak_cleaned = ak_cleaned.drop(columns=["Year diff.", "Month diff.", 'month_diff_match', 'year_diff_match'])

# Step 2: Rename the new ones
ak_cleaned = ak_cleaned.rename(columns={
    "year_diff": "Year diff.",
    "month_diff": "Month diff."
})

In [ ]:
ak_cleaned.columns

Index(['subject_id', 'Extractor', 'Group', 'ICD9_CODE', 'age_at_admission',
       'GENDER', 'DOB', 'DISCHARGE_LOCATION', 'ADMITTIME', 'DISCHTIME', 'ASM',
       'ASM_start', 'ASM_end', 'ASM_type', 'hadm_id', 'HH from file',
       'HH calculated', 'mFG from file', 'mFG  calculated', 'Modified WFNS',
       'Clip', 'Coil', 'mingcs', 'endotrachflag', 'Location (A=0/P=1)',
       'Is_PComm', 'location specific', 'ethnicity', 'icustay_id', 'cmo',
       'los_hospital', 'first_hosp_stay', 'los_icu', 'first_icu_stay',
       'vasonum', 'RRT', 'MechVent', 'Rebleeding (yes/no)', 'Seizure',
       'Seizure date (hospital day)', 'Vasospasm (yes/no)',
       'congestive_heart_failure', 'cardiac_arrhythmias', 'valvular_disease',
       'pulmonary_circulation', 'peripheral_vascular', 'hypertension',
       'paralysis', 'other_neurological', 'chronic_pulmonary',
       'diabetes_uncomplicated', 'diabetes_complicated', 'hypothyroidism',
       'renal_failure', 'liver_disease', 'peptic_ulcer', 'aids', 'lymphoma',
       'metastatic_cancer', 'solid_tumor', 'rheumatoid_arthritis',
       'coagulopathy', 'obesity', 'weight_loss', 'fluid_electrolyte',
       'blood_loss_anemia', 'deficiency_anemias', 'alcohol_abuse',
       'drug_abuse', 'psychoses', 'depression', 'DOD', 'expire_flag',
       'DOD_str', 'ADMITTIME_str', 'Year diff.', 'Month diff.'],
      dtype='object')

In [ ]:
l1 = ak_cleaned['hadm_id'].to_list()
l1

[20994976,
 24171172,
 20668478,
 24825843,
 29561541,
 23628059,
 29792275,
 24076064,
 25021954,
 29099084,
 27624139,
 21843080,
 29883472,
 29883472,
 27220278,
 27833976,
 25497714,
 29386102,
 25385589,
 26397173,
 23965139,
 21222658,
 27959999,
 24333928,
 20878630,
 21865572,
 28348533,
 23407263,
 22988157,
 28709764,
 29350026,
 21083287,
 24788420,
 22344130,
 21946612,
 21259204,
 22568197,
 20087917,
 22155026,
 22970726,
 20925395,
 25327632,
 26203335,
 22552604,
 26514975,
 23865349,
 20331070,
 21261973,
 28539372,
 26970650,
 20535924,
 27718225,
 20586822,
 24160720,
 25786165,
 25728649,
 28888041,
 24858789,
 20617824,
 20369499,
 20826144,
 26287219,
 20538179,
 24262218,
 20514502,
 23415284,
 27445724,
 28182843,
 21944638,
 26361650,
 23109695,
 26578861,
 23005471,
 29101127,
 27202077,
 26167784,
 24106067,
 24762560,
 29751691,
 21242637,
 24628414,
 27032598,
 27008530,
 25594427,
 20410940,
 22152100,
 21758834,
 21164046,
 24099791,
 21076962,
 26136923,
 21899375,
 29104539,
 29056733,
 23172421,
 29366806,
 26166477,
 22819024,
 26569691,
 28672136,
 23626983,
 26272803,
 21297933,
 23882372,
 22557609,
 22285239,
 26543187,
 24460719,
 26112529,
 25653760,
 23191164,
 28668385,
 20323878,
 21817201,
 29147891,
 29859063,
 21905378,
 28009137,
 26853647,
 22209419,
 20393299,
 28377288,
 29814494,
 29999098,
 24357743,
 22905331,
 20528432,
 25479875,
 21042724,
 21359984,
 26110211,
 23605540,
 29205438,
 21540008,
 28583591,
 24822375,
 24056393,
 23953205,
 22833374,
 25123049,
 20645052,
 27818528,
 26901851,
 28224471,
 23459333,
 26807534,
 21900706,
 28969477,
 26097841,
 23922388,
 20916211,
 20454348,
 29687644,
 24688341,
 25640683,
 21878501,
 24110114,
 24289273,
 29145346,
 28923415,
 25432002,
 29364799,
 28338971,
 22186477,
 22073462,
 28197024,
 29175477,
 21970111,
 28663708,
 20089438,
 29912562,
 29305393,
 23752693,
 25439134,
 26324815,
 21782468,
 27489114,
 20196181,
 26213899,
 28222918,
 20212875,
 29349222,
 25347391,
 21212718,
 20720471,
 24014957,
 26739664,
 27859317,
 24647096,
 29036832,
 20980030,
 25376617,
 27981677,
 23435526,
 23685168,
 25933496,
 29141816,
 27962848,
 22559295,
 22309443,
 28291559,
 29977639,
 29394605,
 25247883,
 23948992,
 22161815,
 28825973,
 28719273,
 28390777,
 24397505,
 25813458,
 23963429,
 21600750,
 20401746,
 27413894,
 20495450,
 20497882,
 20932748,
 28523426,
 27976555,
 29756635,
 29589619,
 24603487,
 20005119,
 23778245,
 22354012,
 22889787,
 27806916,
 26061152,
 24248353,
 21289599,
 24439430,
 29988405,
 27056080,
 26913220,
 22164573,
 24222506]

In [ ]:
discharges = pd.read_csv('/content/drive/MyDrive/12_12_24_datarevisiting/2025 aSAH/04_01)discharge time.csv')

In [ ]:
discharges

               dischtime   hadm_id
0    2181-07-16 14:00:00  29147891
1    2176-06-26 12:00:00  21042724
2    2144-03-22 13:20:00  26097841
3    2184-09-20 13:56:00  29589619
4    2111-03-10 14:10:00  22285239
5    2127-05-08 20:00:00  26901851
6    2151-03-04 17:15:00  28348533
7    2136-05-20 14:20:00  25786165
8    2115-10-02 14:10:00  22557609
9    2152-05-02 16:20:00  28009137
10   2153-07-08 11:54:00  28377288
11   2171-06-09 22:50:00  21540008
12   2159-09-14 14:40:00  20196181
13   2174-10-19 13:00:00  23963429
14   2126-10-10 14:30:00  25385589
15   2117-04-11 16:55:00  28709764
16   2177-03-28 15:00:00  27008530
17   2165-02-10 19:30:00  21076962
18   2172-11-14 13:20:00  29104539
19   2176-10-04 17:58:00  26739664
20   2118-01-09 12:25:00  24647096
21   2138-02-02 14:30:00  29305393
22   2179-12-19 13:30:00  20994976
23   2155-06-27 13:14:00  23628059
24   2188-11-22 18:55:00  24076064
25   2132-06-02 18:04:00  29883472
26   2177-11-15 21:00:00  27220278
27   2141-02-27 19:10:00  25497714
28   2118-07-22 18:00:00  23965139
29   2153-01-10 12:11:00  21222658
30   2131-06-14 14:45:00  20878630
31   2183-03-15 12:34:00  21865572
32   2158-09-12 16:00:00  24788420
33   2130-08-11 14:35:00  21259204
34   2131-04-05 14:45:00  22568197
35   2157-11-02 17:00:00  22970726
36   2140-01-28 15:56:00  20925395
37   2131-11-08 16:00:00  25327632
38   2117-01-20 18:09:00  20331070
39   2144-06-26 11:30:00  21261973
40   2187-09-10 17:15:00  26970650
41   2163-06-03 15:40:00  20586822
42   2167-04-05 01:12:00  20369499
43   2154-01-10 14:05:00  20826144
44   2153-01-26 16:10:00  26287219
45   2121-04-07 13:30:00  20538179
46   2136-04-23 10:06:00  24262218
47   2126-07-15 12:38:00  23415284
48   2154-11-02 16:25:00  27445724
49   2146-01-27 14:00:00  28182843
50   2174-09-18 16:00:00  23109695
51   2154-04-18 13:10:00  26578861
52   2110-08-31 13:15:00  23005471
53   2116-07-18 17:50:00  24106067
54   2156-12-05 11:35:00  24762560
55   2185-06-24 18:10:00  29751691
56   2164-02-17 02:50:00  25594427
57   2147-01-06 15:30:00  20410940
58   2161-11-05 16:00:00  24099791
59   2178-10-09 12:15:00  21899375
60   2125-05-07 10:50:00  26569691
61   2165-05-16 19:03:00  28672136
62   2151-02-11 13:30:00  21297933
63   2152-04-09 16:20:00  23882372
64   2140-07-08 13:20:00  26543187
65   2167-01-16 17:44:00  24460719
66   2162-09-02 12:35:00  26112529
67   2149-02-24 17:55:00  25653760
68   2115-04-10 17:25:00  23191164
69   2115-03-07 16:10:00  20323878
70   2154-07-03 21:42:00  29814494
71   2128-06-20 11:25:00  29999098
72   2159-05-27 14:30:00  29205438
73   2185-05-14 20:13:00  24822375
74   2157-06-15 14:30:00  23953205
75   2148-05-22 21:38:00  22833374
76   2189-06-24 12:35:00  25123049
77   2126-10-15 12:00:00  20645052
78   2161-06-14 20:00:00  23459333
79   2125-02-03 13:05:00  23922388
80   2189-01-30 14:40:00  24688341
81   2119-04-07 16:47:00  21878501
82   2129-06-26 10:15:00  24289273
83   2123-11-25 13:40:00  29145346
84   2145-11-23 17:10:00  29175477
85   2159-05-30 13:30:00  28663708
86   2180-01-19 17:37:00  20089438
87   2181-08-18 13:44:00  29912562
88   2154-09-23 12:00:00  23752693
89   2185-07-23 18:30:00  28222918
90   2192-02-05 15:40:00  21212718
91   2131-12-02 16:50:00  24014957
92   2114-09-24 11:50:00  27981677
93   2115-01-05 16:40:00  23435526
94   2111-04-29 11:50:00  25247883
95   2168-10-09 21:02:00  23948992
96   2117-02-06 17:25:00  28825973
97   2158-01-27 19:00:00  28390777
98   2128-08-28 13:30:00  25813458
99   2181-11-10 14:48:00  21600750
100  2135-05-21 13:45:00  20401746
101  2116-01-18 09:00:00  27413894
102  2118-08-03 14:55:00  20495450
103  2112-12-16 17:42:00  20005119
104  2110-09-17 15:30:00  23778245
105  2111-01-03 16:30:00  22889787
106  2160-12-05 13:30:00  26061152
107  2182-06-26 07:15:00  24248353
108  2143-03-05 15:30:00  21289599
109  2119-12-27 16:40:00  24439430
110  2124-09-21 11:45:00  26913220
111  2187-10-01 17:30:00  22164573
112  2184-06-02 12:45:00  24222506
113  2130-01-01 12:45:00  23865349
114  2167-07-15 16:20:00  28197024
115  2156-06-22 11:35:00  29350026
116  2182-07-30 00:00:00  24171172
117  2131-12-03 14:37:00  29386102
118  2144-08-11 18:20:00  26397173
119  2174-11-06 13:10:00  23407263
120  2136-06-23 18:45:00  22988157
121  2153-01-29 18:00:00  26203335
122  2119-04-01 11:15:00  25728649
123  2135-09-11 20:49:00  20617824
124  2188-08-24 13:35:00  21944638
125  2181-11-21 18:30:00  29101127
126  2143-10-27 11:35:00  28668385
127  2155-10-03 06:18:00  22209419
128  2138-09-26 18:11:00  24357743
129  2162-10-28 16:20:00  26110211
130  2124-04-06 13:40:00  27818528
131  2181-08-14 14:45:00  26807534
132  2172-06-23 19:15:00  22073462
133  2142-05-03 14:50:00  27489114
134  2160-03-21 14:00:00  25347391
135  2133-10-26 17:00:00  27859317
136  2133-11-06 14:35:00  27962848
137  2138-05-23 16:20:00  28291559
138  2189-11-16 12:25:00  29977639
139  2175-07-13 14:30:00  22161815
140  2139-09-27 16:25:00  20497882
141  2147-12-12 16:40:00  27976555
142  2134-01-06 12:15:00  24603487
143  2149-11-25 14:30:00  27806916
144  2129-07-11 04:20:00  20535924
145  2128-04-10 13:00:00  25439134
146  2168-11-29 15:40:00  21782468
147  2169-01-27 11:35:00  29099084
148  2131-06-15 17:48:00  27624139
149  2153-01-02 13:00:00  27032598
150  2200-02-05 16:23:00  28583591
151  2150-02-28 16:35:00  28923415
152  2146-03-24 15:30:00  20980030
153  2137-10-18 12:40:00  28719273
154  2159-07-04 18:30:00  24825843
155  2123-10-08 14:52:00  29561541
156  2157-06-22 13:15:00  21083287
157  2171-12-25 16:53:00  28539372
158  2129-07-29 18:35:00  28888041
159  2155-07-30 10:25:00  27202077
160  2161-07-04 18:35:00  21758834
161  2122-12-26 14:30:00  21164046
162  2189-06-06 14:55:00  29056733
163  2130-06-26 17:15:00  23172421
164  2128-01-22 00:00:00  29366806
165  2131-12-27 19:57:00  28969477
166  2162-12-13 19:00:00  20916211
167  2182-08-25 13:50:00  24110114
168  2150-11-03 01:10:00  29364799
169  2150-12-22 14:40:00  22186477
170  2165-11-20 13:30:00  20720471
171  2157-11-13 18:00:00  29036832
172  2157-08-07 14:50:00  23685168
173  2131-04-20 18:20:00  20932748
174  2148-07-31 14:25:00  28523426
175  2158-09-12 11:47:00  27718225
176  2129-05-11 13:45:00  26166477
177  2152-04-12 14:30:00  28338971
178  2141-10-01 15:00:00  20212875
179  2137-06-10 12:06:00  22354012
180  2116-07-10 17:25:00  27959999
181  2135-03-19 17:00:00  20514502
182  2121-09-10 15:37:00  24628414
183  2123-07-15 16:40:00  23626983
184  2125-01-02 15:44:00  21905378
185  2124-07-21 19:40:00  25479875
186  2143-05-29 13:55:00  24056393
187  2135-09-26 14:00:00  20454348
188  2166-02-20 16:24:00  25376617
189  2172-03-13 13:00:00  29988405
190  2134-05-12 11:30:00  24333928
191  2179-04-23 16:50:00  25432002
192  2119-09-17 14:40:00  27833976
193  2183-08-18 15:00:00  29756635
194  2119-08-18 13:00:00  20668478
195  2151-04-16 18:05:00  21843080
196  2168-08-29 12:15:00  21946612
197  2156-06-05 14:45:00  20087917
198  2195-04-30 13:30:00  22155026
199  2180-02-03 12:05:00  22552604
200  2179-08-21 13:22:00  26514975
201  2156-04-20 15:00:00  24858789
202  2185-11-16 12:30:00  26361650
203  2134-12-18 03:52:00  26167784
204  2140-09-17 15:10:00  21242637
205  2158-12-21 13:25:00  22152100
206  2154-02-13 17:00:00  21817201
207  2180-04-19 15:45:00  26853647
208  2178-02-19 14:50:00  20393299
209  2115-10-08 16:40:00  22905331
210  2152-12-21 23:05:00  21359984
211  2135-06-01 15:20:00  23605540
212  2187-11-10 12:05:00  28224471
213  2174-08-20 14:30:00  21900706
214  2144-12-18 12:55:00  29687644
215  2176-04-29 13:15:00  26213899
216  2133-03-20 16:25:00  29349222
217  2179-09-21 17:20:00  25933496
218  2187-12-19 13:15:00  29141816
219  2167-10-27 19:20:00  24397505
220  2119-09-23 18:15:00  29792275
221  2126-01-14 14:00:00  21970111
222  2117-12-18 16:35:00  26272803
223  2112-04-15 21:30:00  24160720
224  2124-07-06 16:50:00  22819024
225  2138-12-10 16:27:00  29859063
226  2177-12-31 08:00:00  26324815
227  2147-12-03 14:20:00  25021954
228  2154-05-20 15:45:00  26136923
229  2141-10-06 14:00:00  22309443
230  2180-04-02 17:10:00  22344130
231  2156-09-19 02:21:00  20528432
232  2164-10-17 00:01:00  25640683
233  2167-09-25 15:00:00  22559295
234  2130-09-11 16:19:00  29394605
235  2113-01-09 13:30:00  27056080

In [ ]:
ak_cleaned = ak_cleaned.drop(columns=["DISCHTIME"], errors="ignore")

# Step 2: Merge on 'hadm_id', keeping only rows from ak_cleaned
experimental_df = ak_cleaned.merge(discharges, on="hadm_id", how="left")

# Step 3: Rename 'dischtime' to 'DISCHTIME'
experimental_df = experimental_df.rename(columns={"dischtime": "DISCHTIME"})

experimental_df.head()

,subject_id,Extractor,Group,ICD9_CODE,age_at_admission,GENDER,DOB,DISCHARGE_LOCATION,ADMITTIME,ASM,...,drug_abuse,psychoses,depression,DOD,expire_flag,DOD_str,ADMITTIME_str,Year diff.,Month diff.,DISCHTIME
0,10110948,AK,Experimental,430,50,F,NaN,REHAB,2179-11-26 1:53:00,1.0,...,0.0,0.0,0.0,NaN,0,,2179-11-26 1:53:00,NaN,NaN,2179-12-19 13:30:00
1,10144089,AK,Experimental,430,64,F,NaN,DIED,2182-07-28 3:52:00,1.0,...,0.0,0.0,0.0,2182-07-30 00:00:00,1,2182-07-30 00:00:00,2182-07-28 3:52:00,0.0,0.0,2182-07-30 00:00:00
2,10151137,AK,Experimental,430,57,F,NaN,HOME,2119-08-05 17:23:00,1.0,...,0.0,1.0,0.0,NaN,0,,2119-08-05 17:23:00,NaN,NaN,2119-08-18 13:00:00
3,10152086,AK,Experimental,430,55,M,n.d.,HOME,2159-06-12,1.0,...,0.0,0.0,0.0,NaN,0,,2159-06-12,NaN,NaN,2159-07-04 18:30:00
4,10222587,AK,Experimental,430,55,F,NaN,DIED,2123-09-26 5:58:00,1.0,...,0.0,0.0,0.0,2123-10-08 14:52:00,1,2123-10-08 14:52:00,2123-09-26 5:58:00,0.0,1.0,2123-10-08 14:52:00

In [ ]:
experimental_df = experimental_df.drop(columns=["DOD", "ADMITTIME_str"])

In [ ]:
experimental_df = experimental_df.rename(columns={"DOD_str": "DOD"})

In [ ]:
experimental_df.columns

Index(['subject_id', 'Extractor', 'Group', 'ICD9_CODE', 'age_at_admission',
       'GENDER', 'DOB', 'DISCHARGE_LOCATION', 'ADMITTIME', 'ASM', 'ASM_start',
       'ASM_end', 'ASM_type', 'hadm_id', 'HH from file', 'HH calculated',
       'mFG from file', 'mFG  calculated', 'Modified WFNS', 'Clip', 'Coil',
       'mingcs', 'endotrachflag', 'Location (A=0/P=1)', 'Is_PComm',
       'location specific', 'ethnicity', 'icustay_id', 'cmo', 'los_hospital',
       'first_hosp_stay', 'los_icu', 'first_icu_stay', 'vasonum', 'RRT',
       'MechVent', 'Rebleeding (yes/no)', 'Seizure',
       'Seizure date (hospital day)', 'Vasospasm (yes/no)',
       'congestive_heart_failure', 'cardiac_arrhythmias', 'valvular_disease',
       'pulmonary_circulation', 'peripheral_vascular', 'hypertension',
       'paralysis', 'other_neurological', 'chronic_pulmonary',
       'diabetes_uncomplicated', 'diabetes_complicated', 'hypothyroidism',
       'renal_failure', 'liver_disease', 'peptic_ulcer', 'aids', 'lymphoma',
       'metastatic_cancer', 'solid_tumor', 'rheumatoid_arthritis',
       'coagulopathy', 'obesity', 'weight_loss', 'fluid_electrolyte',
       'blood_loss_anemia', 'deficiency_anemias', 'alcohol_abuse',
       'drug_abuse', 'psychoses', 'depression', 'expire_flag', 'DOD_str',
       'Year diff.', 'Month diff.', 'DISCHTIME'],
      dtype='object')

In [ ]:
not_ak_df = v8_asah[v8_asah["Extractor"] != "AK"]

In [ ]:
# Step 1: Get column differences
experimental_cols = set(experimental_df.columns)
not_ak_cols = set(not_ak_df.columns)

if experimental_cols != not_ak_cols:
    missing_in_not_ak = experimental_cols - not_ak_cols
    missing_in_experimental = not_ak_cols - experimental_cols

    raise ValueError(f"Column mismatch!\n"
                     f"→ Columns in experimental_df but not in not_ak_df: {missing_in_not_ak}\n"
                     f"→ Columns in not_ak_df but not in experimental_df: {missing_in_experimental}")
else:
    # Step 2: If columns match, combine the dataframes
    final_df = pd.concat([experimental_df, not_ak_df], ignore_index=True)
    print("DataFrames successfully combined.")

DataFrames successfully combined.

In [ ]:
final_df.to_csv('/content/drive/MyDrive/12_12_24_datarevisiting/2025 aSAH/v9_asah.csv')